{% extends "ui/form_page.html" %}
{% load ui_tags %}

{% block title %}{% if form.instance.pk %}Edit contact{% else %}New contact{% endif %}{% endblock %}

{% block form_eyebrow %}<i class="bi bi-people"></i> Clients &amp; events · Contacts{% endblock %}
{% block form_title %}{% if form.instance.pk %}Edit {{ form.instance.first_name }} {{ form.instance.last_name }}{% else %}New contact{% endif %}{% endblock %}
{% block form_subtitle %}People you deal with for this client, such as the bride, groom or a parent.{% endblock %}

{% block form_body %}
  <section class="form-section">
    <div class="row g-3">
      {% field form.client "col-md-6" %}
      {% field form.role "col-md-6" %}
      {% field form.first_name "col-md-6" %}
      {% field form.last_name "col-md-6" %}
      {% field form.phone "col-md-4" %}
      {% field form.whatsapp "col-md-4" %}
      {% field form.email "col-md-4" %}
      {% field form.is_primary "col-md-6" %}
      {% field form.allow_marketing "col-md-6" %}
    </div>
  </section>
{% endblock %}

{% block cancel_url %}{% firstof form.instance.client_id request.GET.client as cid %}{% if cid %}{% url 'crm:client_detail' cid %}#tab-contacts{% else %}{% url 'crm:client_list' %}{% endif %}{% endblock %}
{% block submit_label %}Save contact{% endblock %}
