{% extends "ui/form_page.html" %}
{% load ui_tags %}

{% block title %}Edit profile{% endblock %}
{% block form_eyebrow %}<i class="bi bi-person-circle"></i> My account{% endblock %}
{% block form_title %}Edit profile{% endblock %}
{% block form_subtitle %}Update your basic account information.{% endblock %}

{% block form_body %}
  <section class="form-section">
    <h2 class="form-section-title"><i class="bi bi-person"></i>Profile</h2>
    <div class="row g-3">
      <div class="col-md-6 form-field">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" value="{{ request.user.username }}" disabled>
        <div class="form-text">Username cannot be changed here.</div>
      </div>
      {% field form.email "col-md-6" %}
      {% field form.first_name "col-md-6" %}
      {% field form.last_name "col-md-6" %}
    </div>
  </section>
{% endblock %}

{% block cancel_url %}{% url 'ui:profile' %}{% endblock %}
{% block submit_label %}Save changes{% endblock %}
